/*This is a comment*/
.header {
  position: relative;;
  background: url("img/landscape.jpg");
  background-size: cover;
  left: 0;
  top: 0;
  width:100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#avatar {
  background-image: url("img/avatar.png");
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  transition: all 300ms;
}

#avatar:hover {
  filter: grayscale(100%);
  width: 160px;
  height: 160px;
}
